asyncpg==0.27.*
bcrypt
pydantic[email]==2.3.*
pydantic-settings==2.0.*
fastapi==0.104.*
httpx==0.25.*
psycopg[binary,c]==3.1.*
python-jose[cryptography]==3.3.*
SQLAlchemy==2.0.*
uvicorn[standard]==0.22.*

# Dev dependencies
alembic==1.12.*
mypy==1.6.*
ruff==0.1.*
pytest==7.4.*
pytest-postgresql==5.0.*
pytest-asyncio==0.21.*